@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body.cadastro{
    background-image: url(../image/fundo-home.jpeg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;   
}

.container__formulario {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: initial;
}

.formulario__titulo {
    font-weight: bold;
    font-size: 21px;
    
}

.formulario__campo{
    margin-top: 20px;
    padding: 10px;
}

.campo__escrita {
    width: 50vw;
    display: block;
    margin-top: 5px;
    height: 40px;
    outline: none;
    border: 2px solid black;
    border-radius: 15px;
    padding-left: 8px;
    font-size: 20px;
    box-sizing: border-box;
}

.campo__etiqueta {
    font-size: 30px;
    font-family: var(--fonte-principal);
}

.formulario__botao {
    padding: 1em 3em;
    margin: 2em 0;
    display: block;
    background-color: rgb(72, 72, 79);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 40px;
    outline: none;
}
