@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --fonte-principal: sans-serif;
    --cinza-claro: #d3d1d1;
    --cinza-escuro:  #2f2f2f;
    --azul-medio: #3970BE;
}

body.home{
    background-image: url(../image/fundo-home.jpeg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.section{
    background-color: black;
    width: 100vw;
    height: 200px;
}

.section_item{
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;   
    font-size: 45px;
}

.logo_home{
    padding-left: 20px;
}

.section img{
    height: 100px;
    width: 100px;
}

.section_texto{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    width: 100%;
    height: 85em;
    gap: 10px;
}

.box_grupo{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 76%;
    height: 83em;
}

.box_lista{
    height: 100%;
    font-size: 2em;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    margin-left: 170px;
}

.box_item{
    padding: 20px;
    list-style-type: none; 
    display: flex;
    flex-direction: column; 
    width: 92%;
    border-bottom: 1px solid var(--cinza-escuro);
    height: 140px;
}

.box_descricao{
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 30px;
    gap: 628px;
}

.iconeDelete{
    width: 100px;
    height: 100px;
}

.categoria{
    font-family: 'Montserrat', sans-serif;   
    padding: 5px;
    font-size: 15px;
    width: 115px;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.box a{ 
    color: #3C3955;
    text-decoration: none;
}

.box a:hover{
    color:rgb(66, 149, 185);
}

.box strong{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;  
}


.arquivos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    width: 200px;
    height: 800px;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;  
    align-items: center;
}

.h3_texto{
    padding-left: 42px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;   
}

.arquivos_lista{
    width: 200px;
    height: 690px;
    display: flex;
    flex-direction: column;
}

.arquivos_lista span{
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
}

.arquivos_item{
    display: flex;
    list-style-type: none;  
    width: 100%;
    border: 2px solid var(--cinza-claro);
    border-bottom: 1px solid var(--cinza-claro);
}


.pesquisa{
    display: flex;
    padding-left: 10px;
    gap: 10px;
    align-items: center;
}

.arquivos_pesquisa{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    background-image: url(../image/search.png);
    background-size: 20px 20px;
    background-position: 130px center;
    background-repeat: no-repeat;
}

.box_botao{
    width: 20px;
}

.botao_arquivo{
    background-image: url(../image/botao-cadastro.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.botao_arquivo:hover{
    cursor: pointer;
}

.rodape{
    margin-top: 15px;
    background-color: black;
    width: 100vw;
    height: 100px;
}

.paginacao{
    display: flex;
    justify-content: center;
}

.paginacao .page-link{
    background-color: rgb(171, 169, 169);
    border: 1px solid rgb(103, 102, 102);
}

.paginacao .page-link:first-child,
.paginacao .page-link:last-child {
  color: rgb(0, 0, 0) /* Cor das setas Next e Prev */
}

